---
title: Devlog
layout: 'base.njk'
---

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb container mt-4">
      <span class="mx-1">Βρίσκεστε εδώ:</span>
      <li class="breadcrumb-item"><a href="/">Αρχική</a></li>
      <li class="breadcrumb-item active" aria-current="page">Devlog</li>
    </ol>
  </nav>


<div class="container">
    <h1 class="text-center">{{header}}</h1>
</div>