---
title: Coming Soon
layout: 'base.njk'
---

<!--Hero-->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./assets/img/logo7.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Καλώς ορίσατε στο Bookville.gr! <br /><span class="h3 text-muted">*στο περίπου</span></h1>
      <p class="lead">Αυτό είναι ένα προσωρινό website που θα περιλαμβάνει, μεταξύ άλλων, όλες τις πληροφορίες που ενδέχεται να χρειαστείτε για να μπείτε στο κλίμα.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href='#faq' class="btn btn-success btn-lg px-4 me-md-2">Ξεκινήστε από εδώ</a>
        <a href='/pages/mission/' class="btn btn-outline-secondary btn-lg px-4">Αποστολή</a>
      </div>
    </div>
  </div>
</div>
<!--FAQ-->
  <div class="container d-flex flex-column align-items-center text-center">
    <h1 class="display-5 fw-bold lh-1 mb-3" id="faq">F.A.Q... από την ανάποδη</h1>
    <p class="lead">Θα σας κάνουμε δύο ερωτήσεις και πάνω στις απαντήσεις σας θα σας δώσουμε τις σωστές κατευθύνσεις.</p>    
  </div>
  <div class="container">
    <div class="row">
        <div class="col">
            <div class="card m-4" id="first-question">
                <div class="card-body">
                  <h5 class="card-title">Τύπος χρήστη</h5>
                  <p class="card-text">Ποια η ιδιότητά σας;</p>
                  <a id='bookstore-btn' class="btn btn-outline-success m-2">Έχω βιβλιοπωλείο</a>
                  <a id='consumer-btn' class="btn btn-outline-danger m-2">Είμαι καταναλωτής</a>
                </div>        
            </div>
        </div>
        <div class="col">
            <div id="second-question"></div>        
        </div>
    </div>

    <div class="row">
        <div class="col-md-auto">
            <div id="answer"></div>
        </div>
    </div>
  </div>
  <!-- JavaScript Bundle with Popper -->
  <script src="./assets/js/homepage.js"></script>
